@font-face {
  font-family: objektiv-mk2;
  /*font-style: normal;*/
  scr: url(Objective-Regular.otf) format("otf");
  font-weight: 400;
}

@font-face {
  font-family: objektiv-mk2;
  /*font-style: normal;*/
  scr: url(Objective-Medium.otf) format("otf");
  font-weight: 500;
}

@font-face {
  font-family: objektiv-mk2;
  /*font-style: normal;*/
  scr: url(Objective-Bold.otf) format("otf");
  font-weight: 700;
}
