@import "reset.css";
@import "font.css";

body {
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "objektiv-mk2";
  width: 1920px;
  position: center;
  overflow-x: hidden;
}

.section-first {
  position: relative;
  width: 100%;
  height: 1319px;
}

.corner {
  position: absolute;
  width: 1824px;
  height: 1288px;
  /*left: 1px;*/
  top: 31px;
}

.corner-marcel {
  position: absolute;
  width: 2012px;
  height: 1229px;
  left: -125px;
  top: 70px;
}

.chair1 {
  position: absolute;
  width: 1319.99px;
  height: 1319.99px;
  left: -390px;
  top: 55.48px;
  transform: rotate(-2.89deg);
}

h2 {
  font-family: "objektiv-mk2";
  font-style: normal;
  font-weight: 500;
  font-size: 235px;
  line-height: 244px;
  text-align: right;
  text-transform: uppercase;
}

.wassily {
  position: absolute;
  width: 1124px;
  height: 190px;
  left: 610px;
  top: 145px;
}

h3 {
  font-family: "objektiv-mk2";
  font-style: normal;
  font-weight: normal;
  font-size: 145px;
  line-height: 150px;
  /* identical to box height */
  text-align: right;
  text-transform: uppercase;
}

 .armchair {
   position: absolute;
  width: 820px;
  height: 895px;
  left: 914px;
  top: 404px;
}

.section-second {
  position: relative;
  width: 100%;
  height: 1166px;
  /*top: 1319px;*/
}

.pipes-img {
  position: absolute;
  width: 1920px;
  height: 1166px;
}

h1 {
  font-family: "objektiv-mk2";
  font-style: normal;
  font-weight: bold;
  font-size: 345px;
  line-height: 358px;
  text-align: right;
  text-transform: uppercase;
  color: #FFF;
}

.materials-1 {
  position: absolute;
  width: 2221px;
  height: 358px;
  left: -939px;
  bottom: 808px;
}

.materials-2 {
  position: absolute;
  width: 2221px;
  height: 358px;
  left: 1289px;
  bottom: 808px;
}

.materials-3 {
  position: absolute;
  width: 2221px;
  height: 358px;
  left: -5px;
  bottom: 526px;
}

.materials-4 {
  position: absolute;
  width: 2221px;
  height: 358px;
  left: -972px;
  bottom: 230px;
}

.materials-5 {
  position: absolute;
  width: 2221px;
  height: 358px;
  left: 1256px;
  bottom: 230px;
}

.materials-6 {
  position: absolute;
  width: 2221px;
  height: 358px;
  left: -42px;
  bottom: -69px;
}

.mat-par {
  position: absolute;
  width: 700px;
  height: 352px;
  left: 610px;
  bottom: 407px;
  box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.25);
}

.p-box {
  position: absolute;
  width: 700px;
  height: 352px;
  left: 0px;
  top: 0px;
}

.materials {
  position: absolute;
  width: 500px;
  height: 210px;
  left: calc(50% - 500px/2);
  top: calc(50% - 210px/2 + 6px);
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 42px;
  text-transform: uppercase;
}
 
.section-third {
  position: relative;
  width: 1920px;
  height: 1594px;
}

.marsel-first {
  position: absolute;
  width: 2052.5px;
  height: 6px;
  left: -50px;
  top: 96px;
}

.marsel-1 {
  position: absolute;
  width: 1055px;
  height: 209px;
  left: -20px;
  top: 110px;
  font-weight: bold;
  font-size: 235px;
  line-height: 244px;
}
  
.marsel-2 {
  position: absolute;
  width: 1104px;
  height: 209px;
  left: 1017px;
  top: 110px;
  font-weight: bold;
  font-size: 235px;
  line-height: 244px;
}

.marsel-second {
  position: absolute;
  width: 2052.5px;
  height: 6px;
  left: -50px;
  top: 331px;
}

.q-upper {
  position: absolute;
  width: 100px;
  height: 78px;
  left: 526px;
  top: 443px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 41px;
  text-align: left;
  text-transform: uppercase;
}

.q-beg {
  text-align: center;
  position: absolute;
  width: 534px;
  height: 41px;
  left: 660px;
  top: 501px;
}
  
.q-extreme {
  position: absolute;
  width: 554px;
  height: 41px;
  left: 656px;
  top: 542px;
  letter-spacing: 0.097em;
}
  
h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.quote {
  position: absolute;
  width: 162px;
  height: 62px;
  left: 855px;
  top: 620px;
}

.least-1 {
  position: absolute;
  width: 175px;
  height: 41px;
  left: 658px;
  top: 725px;
  text-align: right;
  text-transform: lowercase;
}

.artistic {
  position: absolute;
  width: 342px;
  height: 50px;
  left: 866px;
  top: 719px;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0.32em;
}

.most-1 {
  position: absolute;
  width: 181px;
  height: 41px;
  left: 653px;
  top: 803px;
  text-align: right;
  text-transform: lowercase;
}

.logical {
  position: absolute;
  width: 406px;
  height: 50px;
  left: 863px;
  top: 797px;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0.39em;
}

.least-2 {
  position: absolute;
  width: 177px;
  height: 41px;
  left: 656px;
  top: 881px;
  text-align: right;
  text-transform: lowercase;
}

.cosy {
  position: absolute;
  width: 334px;
  height: 50px;
  left: 866px;
  top: 875px;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 1.29em;
}

.most-2 {
  position: absolute;
  width: 181px;
  height: 41px;
  left: 653px;
  top: 959px;
  text-align: right;
  text-transform: lowercase;
}

.mechanical {
  position: absolute;
  width: 399px;
  height: 50px;
  left: 863px;
  top: 953px;
  font-size: 48px;
  line-height: 50px;
}

.breurer-first {
  position: absolute;
  width: 2052.5px;
  height: 6px;
  left: -66px;
  top: 1197px;
  color: black;
}

.breurer-1 {
  position: absolute;
  width: 1210px;
  height: 191.95px;
  left: -75px;
  top: 1222.05px;
  font-weight: bold;
  font-size: 235px;
  line-height: 244px;
  text-transform: uppercase;
  color: black;
}

.breurer-2 {
  position: absolute;
  width: 1210px;
  height: 193px;
  left: 1130px;
  top: 1221px;
  font-weight: bold;
  font-size: 235px;
  line-height: 244px;
  color: black;
}

.breurer-second {
  position: absolute;
  width: 2052.5px;
  height: 6px;
  left: -66px;
  top: 1432px;
  color: black;
}

.q-lower {
  position: absolute;
  width: 100px;
  height: 78px;
  left: 1218px;
  top: 1013px;
}

.section-forth {
  position: relative;
  height: 1509px;
}

.chair2 {
  position: absolute;
  width: 1319.99px;
  height: 1319.99px;
  left: 936px;
  top: 111.48px;
  transform: matrix(-1, -0.05, -0.05, 1, 0, 0);
}

.critics {
  position: absolute;
  width: 811px;
  height: 558px;
  left: 125px;
  top: 398px;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  font-weight: medium;
  line-height: 62px;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-align: left;
}


.section-fifth {
  position: relative;
  width: 1920px;
  height: 1112px;
}

.line-kandinsky {
  position: absolute;
  width: 1974px;
  height: 1041.5px;
  left: -21px;
  bottom: 38px;
}

.kandinsky {
  position: absolute;
  width: 869px;
  height: 1112px;
  left: -78px;
  bottom: 0px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.one-of {
  position: absolute;
  width: 840px;
  height: 52px;
  left: 933px;
  bottom: 1021px;
  font-style: normal;
  font-weight: normal;
  font-size: 65.6px;
  line-height: 67px;
  text-transform: uppercase;
}

.naming {
  position: absolute;
  width: 833px;
  height: 769px;
  left: 934px;
  top: 118px;
  font-style: normal;
  font-weight: normal;
  font-size: 75px;
  line-height: 77px;
  text-transform: uppercase;
}

.honor-name {
  position: absolute;
  width: 828px;
  height: 134px;
  left: 932px;
  top: 905px;
  font-style: normal;
  font-weight: normal;
  font-size: 65.6px;
  line-height: 67px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
